*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

#square-container {
    display: flex;
    flex-wrap: wrap;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    gap: 20px;
}

#icon-color {
    display: inline-flex;
    align-items: center;
    margin-right: 1px;
    margin-left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid black;
}

ol {
    text-align: center;
    margin-top: 20px;
}

ol li {
    text-align: start;
    margin-top: 2px;
}

#title {
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 75px;
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
}